<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>To-Do Site</title>
</head>

<body>
    <div ng-controller="MainCtrl">
        <h2> Todo List </h2>
        <form>
            <input type="text" ng-model="item.title" placeholder="Add New">
            <input ng-model="item.imgUrl" type="text" placeholder="Img URL">
            <input ng-model="item.description" type="text" placeholder="Description">
            <button type="submit" ng-click="todoAdd(item)">Add</button>
        </form>

        <div ng-repeat="item in todoList">
            <input type="checkbox" ng-model="item.completed" ng-click="boxChecked(item)">
            <p ng-class="{strike: item.completed}">{{item.title}} </p>
            <img ng-src="{{item.imgUrl}}">
            <div> {{item.description}} </div>
            <button ng-click="removeItem(item)">X</button>
        </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="httpService.js"></script>
</body>

</html>
