<!DOCTYPE html>
<html lang="en" ng-app="yodaSpeak">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Yoda Speak</title>
</head>

<body>
    <div ng-controller="MainCtrl">
        <input ng-model="yodaTranslate" type="text">
        <button type="submit" value="submit" ng-click="yodaTranslator(yodaTranslate)">Translate</button>

        <div> {{yodaSpeak}} </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="httpService.js"></script>
</body>

</html>
