* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: auto;
    display: block;
}

body {
    font-family: avenir, sans-serif;
}

#header {
    margin-top: 1%;
    margin-bottom: 3%;
}

.container-fluid {
    width: 100%;
    align-content: center;
    margin: 0px;
}

.dropdown {
    float: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 10px 0px 20px;
}

.navbar {
    float: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 5px;
}

.inputSearch {
    float: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#searchBox {
    background-image: url("http://www.pathpoint.org/frontend/default/images/search-icon.png");
    background-size: 27px;
    background-repeat: no-repeat;
    background-position: right;
    text-indent: 10px;
    color: black;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    border: 1px solid #999;
    height: 30px;
    justify-content: center;
}

#searchBox::-webkit-input-placeholder {
    color: #999;
    /*    font-weight: bold;*/
}

.element::-moz-placeholder {
    color: #999;
}

.element:-ms-input-placeholder {
    color: #999;
}

.element:-o-input-placeholder {
    color: #999;
}


/*BEGIN SLIDESHOW*/

#carouselSlideshow {
    height: 88%;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner>.item.next,
    .carousel-fade .carousel-inner>.item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.prev,
    .carousel-fade .carousel-inner>.item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.next.left,
    .carousel-fade .carousel-inner>.item.prev.right,
    .carousel-fade .carousel-inner>.item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}


/*SLIDESHOW FOOTER "Needs work"*/

.slide-footer {
    align-content: center;
    margin: 0px;
    height: 72px;
    padding: 0px;
    background-color: #fee5d9;
}

.row,
.input-group {
    /*    background-color: #fee5d9;*/
    width: 30%;
    float: none;
    margin-top: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
}

.input-group,
.input-group-addon {
    margin: auto;
    width: 50%;
    margin-top: 1%;
    /*    background-color: #fff;*/
    border: none;
}

.form-control {
    background-color: #ffffff;
    border: none;
    height: 30px;
    width: 100%;
}

.slideshow-email,
.input-group-addon {
    margin-top: 1%;
    justify-content: center;
    width: 50px;
    height: 30px;
    text-indent: 4px;
    border: none;
    background-color: #ffffff;
}


/*BEGIN MAIN CONTENT*/

.blog-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

#Beauty {
    text-align: center;
}

#main-content {
    padding-right: 120px;
    padding-left: 120px;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: center;
    width: 100%;
}

#main-content #blog-para {
    text-align: left;
    margin: auto;
    width: 100%;
}

.row-content {
    width: 50%;
}

.blog-date {
    font-size: 12px;
    text-align: center;
    /*    width: 100%;*/
}

.blog-head {
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #999999;
    margin: 0 0 1px 0;
    font-weight: 200;
    text-align: center;
}

#lipStick {
    border: 1px solid purple;
    position: relative;
}

.image {
    margin: auto;
    float: none;
    border: 1px solid red;
    width: 56px;
    height: 24px;
÷
}

.image,
#lipStick {
    width: 100%;
    height: 924px;
    margin: 0 auto;
    top: 25px;
    left: 25px;
}

#lipStick:hover {
    width: 100%;
    height: 924px;
    opacity: 0.5;
}

#pintrest {
    width: 9%;
    position: absolute;
    z-index: 1;
    bottom: 83%;
    right: 71%;
}



#blog-para {
    padding-top: 3%;
    padding-bottom: 5%;
}

#read-more {
    text-align: center;
    border: 1px solid grey;
    margin: auto;
    width: 30%;
    height: 60px;
    padding-top: 3%;
}

.footer-links {
    float: left;
    width: 100%;
    padding-top: 15%;
}

.footer-links span {
    float: right;
}

#related {
    padding-top: 5%;
    text-align: center;
}

horizontal-thumbnails {
    width: 616px;
    height: 140px;
    border: solid red 3px;
}

.footer-image,
#footerImg {
    width: 120px;
    height: 120px;
    float: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}


/*BEGIN SIDEBAR*/

#sidebar {
    /*    border: 1px solid black;*/
    border-right: 5px grey;
    float: right;
    margin-top: 5%;
    width: 25%;
}

.follow-header {
    margin: auto;
    float: none;
    font-family: Helvetica;
    text-align: center;
    height: 8%;
}

.follow-links {
    border-top: none;
    border-bottom: none;
    height: 10px;
    align-content: center;
}

.follow-links,
a {
    padding-right: 7%;
    margin: auto;
    float: none;
}

.subscribe-header {
    margin: auto;
    float: none;
    /*    border: 1px solid red;*/
    font-family: Helvetica;
    text-align: center;
    height: 20%;
    padding-top: 15%;
}

#subscribeEmailSubmit {
    width: 10%;
    padding-top: 1%;
}

.subscribe-email,
.input-group-addon {
    margin-top: 1%;
    justify-content: left;
    width: 50%;
    height: 20px;
    text-decoration: none;
    border: 1px black solid;
    background-color: #ffffff;
}


/*
favorites-links {
    width: 616px;
    height: 140px;
    border: solid red 3px;
}
*/


/*
.favs-imgs {
    max-width: 100%;
    height: auto;
    float: none;
    margin: auto;
    display: block;
    box-sizing: border-box;
    overflow: auto;
}
*/

#favsHeader {
    padding-top: 5%;
    text-align: center;
}

.favs-imgs img {
    width: 70%;
    height: 150px;
    display: block;
    margin: auto;
    float: none;
}

a
