<!DOCTYPE html>
<html lang="en" ng-app="warmupApp">

<head>
    <meta charset="UTF-8">
    <title>ANGULARRRRR</title>
</head>

<body ng-controller="MainCtrl">
        <div ng-repeat="thing in stuff">{{ thing }}</div>
    
<!--
        <input type="number" ng-model="num1">
        <input type="number" ng-model="num2">
        <button ng-click="sum()">Sum</button>
        <h1>{{ num1 + num2 }}</h1>
    </div>

    <div ng-controller="SecondCtrl">
        <input type="number" ng-model="num1">
        <input type="number" ng-model="num2">
        <button ng-click="multiply()">Multiply</button>
        <h1>{{ result }}</h1>
    </div>
-->





    <!--    <h1>{{ person.firstName}} {{ person.lastName }}</h1>-->

    <!--
    <input type="checkbox" ng-model="isAdmin"> admin?
    <input type="radio" value="male" ng-model="gender">Male
    <input type="radio" value="female" ng-model="gender">Female
    <input type="radio" value="other" ng-model="gender">Other
-->
    <!--    <button ng-click="checkGender()">Check gender</button>-->



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
