<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Promises Refresher</title>
</head>

<body>
<div ng-controller="MainCtrl">
    
    
    <button ng-click="fetchList(x)">Submit</button>
    <div ng-repeat="person in peopleList">
    <h1>{{person.name}}</h1>
    </div>
    
</div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="app.js"></script>
    <script src="httpService.js"></script>
    
</body>

</html>
