* {
   align-items: center;
}
body {
    background-image: url(http://wallpaperpulse.com/img/3984527.png);
      background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    position: absolute;
    z-index: -1;
    height: 610px;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 3px black; 
}