body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container-fluid,
ul {
    display: inline-block;
    width: 100%;
    align-content: center;
}
h2 {
     text-align: left;
    color: #eb1f22;
    font-family: Helvetica;
    font-size: 30px;
}
#pokeList {
    text-align: left;
    color: #eb1f22;
    font-family: Helvetica;
    font-size: 14px;
}
